<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Andrew Norton (QData group at UVA)">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>{{ title }} - Adversarial Playground</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bs/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Bootstrap slider CSS -->
    <link href="{{ url_for('static', filename='bootstrap-slider.min.css')}}" rel="stylesheet">

    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='custom.css') }}" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          -->
          <a class="navbar-brand" href="index">Adversarial Playground</a>
        </div>
        
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="jsma">Jacobian Saliency Map</a></li>
            <li><a href="fjsma">Fast Jacobian Saliency Map</a></li>
            <!-- <li><a href="fjsma">Fast Jacobian Saliency Map</a></li> -->
            <li><a href="l_inf">Fast Gradient Sign</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>Adversarial DNN Playground</h1>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class = "panel-title">About</h3>
              </div>
              <div class="panel-body">
                <p>
                In recent years, Deep Neural Networks have become an essential tool for many machine learning tasks, especially image classification.  However, this has given rise to the study of \textit{adversarial samples}--carefully crafted inputs for a neural network that result in an incorrect classification. 
                </p>
                <p>
                In the spirit of the TensorFlow Playground, we present the Adversarial Playground: a web-based visualization tool to assist users in understanding the differences between common adversarial machine learning techniques.  Upon launch, the application starts a lightweight Python websever hosting a collection of pages related to the visualization.  The server-based nature allows remote hosting, but the webserver may be hosted on any computer running TensorFlow.
                </p>

                <p>
                We allow multiple types of adversarial attacks:
                  <ul>
                    <li>Jacobian Saliency Map Approach (JSMA)</li>
                    <li>Fast Jacobian Saliency Map Apriori (FJSMA) </li>
                    <li>Fast Gradient Sign</li>
                  </ul>
                </p>

              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class = "panel-title">QData Lab</h3>
            </div>
            <div class="panel-body">
              <p>
                <a href="https://www.cs.virginia.edu/yanjun/">Homepage</a>
              </p>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class = "panel-title">Source code</h3>
            </div>
            <div class="panel-body">
              <p>
                The entire project is open-source; code is on <a href="https://github.com/QData/AdversarialDNN-Playground">GitHub</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
      $(document).ready(function(){     
          /* Slider for Epsilon */
          /*$('#ex1').bootstrapSlider({
            formatter: function(value) {
              return 'Current value: ' + value;
            }
          });*/
          var mySlider = $('#ex1').slider()

          /* Request the python script to run */
          $("button").click(function(){
            var slider_val = mySlider.slider('getValue');
            var srcDropdown = document.getElementById("sampleNum");
            var srcClass = srcDropdown.options[srcDropdown.selectedIndex].value;
            var tgtDropdown = document.getElementById("targetNum");
            var tgtClass = tgtDropdown.options[tgtDropdown.selectedIndex].value;
            $.post("run_adversary",
            {
              model_name    : "L1",
              upsilon_value : slider_val,
              sample        : srcClass,
              target        : tgtClass
            },
            function(data,status){
              document.getElementById('vizpanel').src="{{ url_for('static', filename='comparison.png')}}?"+new Date().getTime();
              document.getElementById('pltpanel').src="{{ url_for('static', filename='jsma_likelihoods.png')}}?"+new Date().getTime();
              classParagraph.innerHTML = "<strong>" + data['adversary_class'] + "</strong>";
            }, "json");
          });
      });
    </script>
    
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{{ url_for('static', filename='bs/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-slider.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="{{ url_for('static', filename='bs/js/ie10-viewport-bug-workaround.js')}}"></script>-->
  </body>
</html>
